# 01 INTRODUCTION

- The spark session object
- Create a dataframe from a python list including schema information
- Print the schema of a dataframe
- Write a dataframe to the **Sparkâ€™s warehouse directory** as a managed table
- Create a dataframe by executing an SQL query with spark.sql()

In [ ]:
# 1. Create a spark session

In [ ]:
# 2. Create a dataframe from a python list and a schema

In [ ]:
# 3. Print the schema of the dataframe

In [ ]:
# 4. Write dataframe as table "students" using the default format (parquet)

In [ ]:
# 5. Load dataframe from table "students"

In [ ]:
# 6. Load dataframe from an SQL