# 01_intro

In [1]:
# Create a spark session
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
spark.version

'4.0.1'

In [2]:
# Create a dataframe from a python list (and a schema)

from datetime import date

students_schema = 'id long, name string, enrolment_date date, gpa double'
students_data = [(1, "Nikos Zikos", date(2025, 9, 1), 7.7),
                 (2, "Maria Pappa", date(2025, 9, 2), 6.7),
                 (2, "Petros Kokkinos", date(2025, 9, 1), 7.6)]
students_df = spark.createDataFrame(students_data, students_schema)
students_df.show()

+---+---------------+--------------+---+
| id|           name|enrolment_date|gpa|
+---+---------------+--------------+---+
|  1|    Nikos Zikos|    2025-09-01|7.7|
|  2|    Maria Pappa|    2025-09-02|6.7|
|  2|Petros Kokkinos|    2025-09-01|7.6|
+---+---------------+--------------+---+

In [3]:
# write dataframe as table "students" using the default format (parquet)
students_df.write.mode("overwrite").saveAsTable("students")

SparkRuntimeException: [LOCATION_ALREADY_EXISTS] Cannot name the managed table as `spark_catalog`.`default`.`students`, as its associated location 'file:/C:/Users/cgogos/git_repos/big_data/apache_spark/2026_spark_examples/spark-warehouse/students' already exists. Please pick a different table name, or remove the existing location first. SQLSTATE: 42710

In [ ]:
# write dataframe as table "students" using orc format
(students_df
    .write
    .format("orc")
    .mode("overwrite")
    .saveAsTable("students_orc")
)

In [ ]:
# load dataframe from table "students" 
students_df2 = spark.table("students")
students_df2.show()

In [ ]:
# load dataframe from table "students" using SQL
students_df3 = spark.sql("select * from students order by gpa desc")
students_df3.show()

In [ ]:
# load dataframe from table "students_orc"
students_df4 = spark.table("students_orc")
students_df4.show()