# 03 Custom schema, json -> dataframe -> table  

- Define a schema for a dataframe that will be later read
- Read a json file to a dataframe  using the schema previously created
- Write the dataframe to the **Sparkâ€™s warehouse directory** as a table 
- Use spark.sql() to issue SQL commands against the table

In [ ]:
# 1. Create a spark session

In [ ]:
# 2. Define a dataframe's schema before reading it

In [ ]:
# 2. Read flight data from JSON file

In [ ]:
# 3. Print the schema

In [ ]:
# 4. Save dataframe to table "flight_time"

In [ ]:
# 5. Show 3 rows of table flight_time using spark.sql()